@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.section {
    scroll-margin-top: 50px;
}

#about {
    scroll-margin-top: 100px;
}

.active-link span:first-child {
    width: 64px;
    background-color: rgb(226 232 240);
}

.active-link span:last-child {
    color: rgb(226 232 240);
}